.App {
  text-align: center;
  background-image: url(./assets/bg.jpg);
  background-size: 100% 100%;
  min-height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
$standardWidth: 750;
@function calcView($pixels) {
  @return (($pixels/$standardWidth) * 100) + vw;
}
@mixin textStroke($textColor, $strokeColor, $stroke) {
  background-color: $textColor;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: $stroke;
  -webkit-text-stroke-color: $strokeColor;
  -webkit-text-fill-color: transparent;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
}
.language-dropdown {
  right: 2vw;
  top: 0;
  margin: 0 auto;
  color: white;
  z-index: 2;
  .selected-language {
    background-color: #963a0d;
    cursor: pointer;
    font-size: 3.5vw;
    color: white;
    border-radius: 2vw;
    margin-top: 2vw;
    display: flex;
    padding-left: 2vw;
    justify-content: space-between;
    align-items: center;
    img {
      width: 4vw;
      margin-left: 1vw;
      background-color: #b52f00;
      padding: 1vw;
      border-radius: 0 2vw 2vw 0;
    }
  }
  .language-list {
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .language-option {
    padding: 1vw;
    cursor: pointer;
    color: white;
    background-color: brown;
    transition: background-color 0.2s ease;
  }

  .language-option:hover {
    background-color: #e0e0e0; /* Highlight on hover */
  }

  .language-option.selected {
    background-color: #ffffff; /* White background for the selected language */
    font-weight: bold;
    color: black;
    pointer-events: none; /* Prevent clicking the already selected language */
  }
}
.marque-container {
  overflow: hidden;
  width: 100%;
  height: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70vw;
  .marquee-alternative {
    margin: auto;
    margin-left: 3vw;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .taxts {
      background-image: url(./assets/Tickertape-bg.png);
      background-size: 100% 100%;
      height: 14vw;
      padding: 0vw 15vw 0vw 2vw;
      color: white;
      font-size: 3.5vw;
      .uu-image {
        width: 12vw;
        height: 12vw;
        margin-left: -2.5vw;
        border-radius: 10vw;
        border: 2px solid #4074e1;
        img {
          width: 12vw;
          border-radius: 10vw;
        }
        a {
          outline: none;
          cursor: none;
        }
      }
      .text {
        margin-left: 1vw;
        .content {
          img {
            width: 7vw;
          }
          .nick-name {
            text-align: initial;
            margin-right: 1vw;
          }
          .icon {
            margin: 0 1vw;
            width: 5vw;
          }
        }
      }
      span {
        color: #fff300;
        margin-left: 1vw;
      }
    }
  }
}
.tab-buttons {
  background-image: url(./assets/main-btn-bg.png);
  background-size: 100% 100%;
  width: 100%;
  height: 15vw;
  margin-bottom: 1vw;
  img {
    width: 40vw;
    transition: all 0.2s ease;
  }
}
.modal-close {
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  img {
    width: 10vw;
  }
}
.loader {
  position: relative;
  width: 100%;
  height: 20vw;
  padding: 10vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 10vw;
    height: 10vw;
    margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}
.rewards {
  margin-top: 8vw;
  margin-bottom: 2vw;
  &-box {
    background-image: url(./assets/Rewards-bg.png);
    background-size: 100% 100%;
    width: 97%;
    &-tabs {
      img {
        width: 30%;
        transition: all 0.2s ease;
        z-index: 1;
      }
    }
    &-text {
      width: 90%;
      margin: 0 auto;
    }
    &-ranks {
      background-image: url(./assets/RankBtnBg.png);
      background-size: 100% 100%;
      width: 82%;
      height: 5vw;
      margin-top: 3vw !important;
      margin: 0 auto;
      button {
        width: 17vw;
        height: 7vw;
        img {
          width: 100%;
          height: 100%;
          transition: all 0.2s ease;
        }
      }
    }
    &-container {
      width: 52%;
      margin: 0 auto;
      height: 50vw;
      margin-top: 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .inner-box {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        gap: 1vw;
        justify-content: center;
        align-items: center;
        .img-box {
          width: 45%;
          display: flex;
          flex-direction: column;
          .rew {
            width: 13vw;
          }
          .base {
            width: 20vw;
          }
        }
      }
      .desc {
        background-color: rgba(73, 12, 72, 0.7607843137);
        font-size: 2.5vw;
        border-radius: 5vw;
        padding: 1vw;
        width: 96%;
        box-shadow: inset 0px 0px 3px 0px black;
        span {
          width: 100%;
        }
      }
    }
  }
  &-tag {
    width: 52%;
    z-index: 1;
    left: 0;
    right: 0;
    top: -8vw;
  }
}
.my-points {
  width: 100%;
  margin: 0 auto;
  margin-top: -10vw;
  margin-bottom: 3vw;
  &-category {
    background-image: url(./assets/MyCategoryBg.png);
    background-size: 100% 100%;
    width: 65%;
    height: 15vw;
    font-size: 3.5vw;
    font-weight: 700;
  }
  &-collected {
    background-image: url(./assets/BonusTextBg.png);
    background-size: 100% 100%;
    width: 75%;
    height: 14vw;
    font-size: 3vw;
    font-weight: 700;
  }
}
.my-category {
  background-color: #3a0410;
  background-size: 100% 100%;
  width: 55%;
  height: 10vw;
  padding: 1vw 0 1vw 5vw;
  font-size: 3vw;
  font-weight: 700;
}
.leaderboard {
  background-image: url(./assets/Leaderboard-bg.png);
  background-size: 100% 100%;
  width: 100%;
  margin-top: 7vw;
  .lb-heading {
    left: 0;
    right: 0;
  }
  .rank-section {
    width: 100%;
    .rank-section-inner {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      gap: 2vw;
      margin: 0 auto;
      //Top Winners
      .top-position-holders {
        background-size: 100% 100%;
        width: 95%;
        display: flex;
        margin: 0 auto;
        .user-container {
          width: 100%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          &:first-child {
            order: 2;
          }
          &:nth-child(2) {
            order: 1;
            margin-top: 8vw;
            margin-right: -2vw;
            z-index: 1;
          }
          &:nth-child(3) {
            order: 3;
            margin-top: 8vw;
            margin-left: -2vw;
          }
          .innerData {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            font-weight: bold;

            .first-user {
              top: 5vw;
              .rank-user-image {
                border-radius: 50%;
                position: absolute;
                width: 20vw;
                top: 4vw;
                left: 16vw;
              }
              .rank-border-image {
                width: 52vw;
                top: -6vw;
              }
            }
            .bottom-data {
              background-image: url(./assets/Topbg1.png);
              background-size: 100% 100%;
              width: 70%;
              padding: 1vw;
              height: 8vw;
            }

            .bottom-info {
              .username {
                font-size: 2.5vw;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                font-weight: 700;
              }
              .level-img {
                width: 10vw;
              }
            }
            .est-rewards {
              background-color: #80430a;
              border: 1px solid #bf8c44;
              box-shadow: inset 0px 0px 3px 0.5px #bf8c44;
              border-radius: 6vw;
              padding: 0.5vw 1.5vw;
              font-size: 2.2vw;
              width: 15vw;
              height: 5vw;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .score-box {
              background-color: #80430a;
              border: 1px solid #bf8c44;
              box-shadow: inset 0px 0px 3px 0.5px #bf8c44;
              border-radius: 6vw;
              padding: 0.5vw 1vw;
              font-size: 1.8vw;
              width: 15vw;
              height: 4vw;
              .points {
                background-image: url(./assets/Points-bg.png);
                background-size: 100% 100%;
                width: 20vw;
                height: 5vw;
                font-size: 2vw;
                margin-bottom: -4vw;
                font-weight: bold;
              }
            }

            a {
              outline: none;
              cursor: none;
            }
          }
        }
      }
      .points-received {
        background-image: url(./assets/Points-received-bg.png);
        background-size: 100% 100%;
        width: 30vw;
        padding: 1vw;
        height: 4vw;
        font-size: 3vw;
        margin-right: 5vw;
        font-weight: bold;
      }
      // Bottom Winners
      .rest-position-holders {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        font-size: 2.5vw;
        overflow: hidden;
        margin: 0 auto;

        .users-details-onward {
          background-image: url(./assets/Leaderboard-strip.png);
          background-size: 100% 100%;
          width: 95%;
          height: 8vw;
          margin: 0 auto;
          padding: 2vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: white;
          .rank-id {
            width: 6vw;
            font-size: 2.5vw;
            color: white;
            font-weight: 900;
            margin-left: -2vw;
            height: 7vw;
            border-right: 1.5px solid #e5ca78;
          }
          .frame {
            background-image: url(./assets/frame2.png);
            background-size: 100% 100%;
            width: 13vw;
            height: 11vw;
          }
          .border-img {
            width: 11vw;
            z-index: 1;
            left: 0vw;
          }
          .user-image {
            position: absolute;
            width: 7vw;
            left: 9.5vw;
            border-radius: 50%;
            top: 2.3vw;
          }
          .user-image-top {
            width: 8vw;
            border-radius: 50%;
            left: 10vw;
            top: 3vw;
          }
          .user-info {
            overflow: hidden;
            display: flex;
            text-align: left;
            .username {
              font-size: 2.5vw;
              font-weight: 700;
            }
          }
          .points {
            background-color: #0d0e2a;
            border: 1px solid #111f77;
            border-radius: 5vw;
            width: 20vw;
            height: 5vw;
            font-size: 2.2vw;
            font-weight: bold;
          }
          .est-rewards {
            background-color: #0d0e2a;
            border: 1px solid #111f77;
            border-radius: 5vw;
            width: 18vw;
            height: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.2vw;
            font-weight: bold;
          }
          a {
            outline: none;
            cursor: none;
          }
        }
      }
      .rest-position-holders-max {
        overflow-y: scroll;
      }
      .rest-position-holders-max::-webkit-scrollbar {
        width: 3px;
      }
      .rest-position-holders-max::-webkit-scrollbar-track {
        background-color: #3b375c;
        border-radius: 10px;
      }
      .rest-position-holders-max::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #1cbcc8;
      }
    }
  }
  .tab-buttons {
    .btn-active {
      width: 30vw;
    }
    .btn {
      width: 30vw;
      filter: grayscale(1);
      transition: all 0.2s ease;
    }
  }
}
.text-box {
  width: 100%;
  font-size: 3vw;
  background-image: url(./assets/Do-the-following-task-text-bg.png);
  background-size: 100% 100%;
  padding: 2vw 0vw;
  margin-top: 7vw;
  color: #ffd601;
  font-weight: 900;
}
.daily-activity {
  background-image: url(./assets/Task-table-bg.png);
  width: 95%;
  background-size: 100% 100%;
  font-size: 2.5vw;
  font-weight: 500;
  padding: 10vw 0;

  .heading {
    width: 90%;
    color: #b97e63;
    font-size: 3vw;
    font-weight: bold;
    justify-content: space-between;
  }
  .task-text {
    width: 90%;
    min-height: 30vw;
    color: white;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .task-details {
    width: 90%;
    background-color: #fcefdf;
  }
  span {
    padding: 1vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 6vw;
  }

  .desc {
    // background-image: url(./assets/Table-text-bg.png);
    background-size: 100% 100%;
    width: 100%;
    height: 12vw;
    color: #8a3631;
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 3.5vw;
    justify-content: space-between;
    span {
      border: 1px solid brown;
    }
  }
}
.see-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2vw;
  img {
    width: 30vw;
  }
}
.info-popup {
  background-image: url(./assets/popups/history-bg.png);
  background-size: 100% 100%;
  width: 80%;
  height: 70vw;
  margin: 0 auto;
  padding: 5vw;
  .head {
    width: 75%;
    margin: auto;
    left: 0;
    right: 0;
    top: -0.5vw;
  }
  .content-box {
    text-align: left;
    width: 90%;
    color: white;
  }
  .modal-close {
    width: 15vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -15vw;
    img {
      width: 10vw;
    }
  }
}
.game-popup {
  width: 100%;
  .success {
    background-image: url(./assets/Congo-popup-bg.png);
    background-size: 100% 100%;
    width: 100%;
    height: 80vw;
    color: white;
    margin: 0 auto;
    .mascot {
      position: absolute;
      width: 18vw;
      left: -4vw;
      bottom: 2vw;
    }
  }
  .unsuccess {
    background-image: url(./assets/Oops-bg.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vw;
    color: white;
    margin: 0 auto;
  }
  .oops-head {
    background-image: url(./assets/popups/Popup-header-bg.png);
    background-size: 100% 100%;
    width: 65%;
    height: 40vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: -25vw;
    img {
      width: 25vw;
      margin-top: 19vw;
    }
  }
  .success-head {
    background-image: url(./assets/popups/Popup-header-bg.png);
    background-size: 100% 100%;
    width: 65%;
    height: 35vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 6vw;
    right: 0;
    top: -23vw;
    img {
      width: 28vw;
      margin-top: 17vw;
    }
  }
  .content {
    width: 67%;
    height: 62vw;
    .body-text {
      color: white;
      font-size: 3.5vw;
      width: 100%;
      font-weight: bold;
      .rews-box {
        width: 100%;
        max-height: 53vw;
        flex-wrap: wrap;
        gap: 2vw;
        .name {
          font-size: 2.8vw;
          line-height: 3vw;
        }
      }
      .rews-box-max {
        width: 100%;
        max-height: 53vw;
        flex-wrap: wrap;
        gap: 2vw;
        overflow-y: scroll;
        .name {
          font-size: 2.8vw;
          line-height: 3vw;
        }
      }
      .rews-box-max::-webkit-scrollbar {
        background-image: url(./assets/popups/Scroll-strip.png);
        background-size: 100% 100%;
        width: 1vw;
      }
      .rews-box-max::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 10px;
      }
      .rews-box-max::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: url(./assets/popups/Scroll-btn.png);
        background-size: 100% 100%;
        width: 5vw;
        height: 5vw;
      }
      img {
        width: 15vw;
      }
      .rewards-box {
        margin-top: 20vw;
      }
    }
  }
  .modal-close {
    bottom: -19vw;
    width: 10vw;
    img {
      width: 10vw;
    }
  }
}
.dart-game {
  background-image: url(./assets/Dart-back-bg.png);
  background-size: 100% 100%;
  width: 100%;
  height: 100vw;
  margin-bottom: 20vw !important;
  .gift-icon {
    z-index: 2;
    top: 35vw;
    left: 10vw;
    width: 12vw;
  }
  .mascot {
    width: 15vw;
    left: 8vw;
    z-index: 1;
    bottom: 2vw;
  }
  .dart-wheel {
    // background-image: url(./assets/Dart-back-bg.png);
    background-size: 100% 100%;
    width: 92%;
    height: 90vw;
    top: 16vw;
    .wheel {
      z-index: 1;
      width: 50vw;
      top: 8vw;
      left: 22vw;
    }
    .bean-chances {
      z-index: 1;
      top: 13vw;
      width: 37vw;
    }
    .stand {
      top: 50vw;
    }
    .my-chances {
      top: 30vw;
      z-index: 1;
      width: 50vw;
      font-size: 3vw;
      font-weight: 900;
    }
    #angel1 {
      top: 15vw;
      left: 20vw;
      border: none;
    }
    #angel2 {
      top: 22vw;
      right: 30vw;
      border: none;
    }
    #angel3 {
      top: 35vw;
      right: 30vw;
      border: none;
    }
    #angel4 {
      top: 40vw;
      right: 20vw;
      border: none;
    }
    #angel5 {
      top: 35vw;
      left: 30vw;
      border: none;
    }
    #angel6 {
      top: 20vw;
      left: 30vw;
      border: none;
    }
  }
  .my-points {
    background-image: url(./assets/My-points-category-bg.png);
    background-size: 100% 100%;
    width: 95%;
    height: 15vw;
    font-size: 2.5vw;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    margin-top: 6vw !important;
    color: yellow;
    &-category {
      font-size: 3vw;
      font-weight: bold;
      width: 45%;
      height: 10vw;
      padding: 1vw 0;
      background-image: url(./assets/My-points-bg.png);
      background-size: 100% 100%;
    }
    &-collected {
      width: 45%;
      height: 10vw;
      padding: 1vw 0;
      background-image: url(./assets/My-points-bg.png);
      background-size: 100% 100%;
    }
    .error {
      color: yellow;
      margin: 0;
      right: 4vw;
      top: 12vw;
      font-size: 2.5vw;
      font-weight: 900;
    }
    .errIcon {
      top: 4vw;
      right: 12vw;
      width: 7vw;
    }
    .chances {
      width: 40vw;
      height: 10vw;
      font-size: 2.6vw;
      font-weight: bold;
      .input-field {
        width: 18%;
        background-color: #3e1012;
        border: none;
        color: white;
        text-align: center;
        font-size: 2.5vw;
        margin-left: 1vw;
        padding: 0.8vw 1vw;
        &:focus {
          outline: none;
        }
        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
  .dart-animation {
    z-index: 1;
    width: 50vw;
    top: 8vw;
  }
  .button-section {
    top: 60vw;
    color: white;
    font-size: 2.8vw;
    font-weight: 500;
  }
}
.guide-popup {
  right: 0vw;
  top: 35vw;
  z-index: 1;
  img {
    width: 18vw;
  }
}
.guide-content {
  background-image: url(./assets/Guide-bg.png);
  background-size: 100% 100%;
  width: 100%;
  height: 115vw;
  padding: 10vw 0;
  display: flex;
  justify-content: flex-end;
  .head {
    width: 60%;
    margin: auto;
    left: 0;
    right: 0;
    top: -9vw;
  }
  .inner-content {
    width: 90%;
    margin: 0 auto;
    padding: 6vw 0;
    .content-box {
      width: 100%;
      overflow-y: scroll;
      max-height: 52vw;
      font-size: 3vw;
      margin-top: 55vw;
      .list {
        padding: 0vw 1vw;
        text-align: left;
        color: white;
        margin: 0vw;
        font-weight: 500;
        span {
          font-size: 2.5vw;
          text-align: left;
          color: #fffb09;
          font-weight: bold;
        }
        ul {
          padding-left: 2vw;
        }
      }
      table {
        ul {
          padding-left: 5vw;
          li {
            text-align: left;
          }
        }
      }
    }
    .content-box::-webkit-scrollbar {
      background-image: url(./assets/popups/Scroll-strip.png);
      background-size: 100% 100%;
      width: 1vw;
    }
    .content-box::-webkit-scrollbar-track {
      background-color: white;
      border-radius: 10px;
    }
    .content-box::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: url(./assets/popups/Scroll-btn.png);
      background-size: 100% 100%;
      width: 5vw;
      height: 5vw;
    }
  }

  .modal-close {
    width: 15vw;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: -12vw;
    img {
      width: 10vw;
    }
  }
}
.rewards-history {
  background-image: url(./assets/popups/history-bg.png);
  background-size: 100% 100%;
  width: 100%;
  height: 110vw;
  display: flex;
  justify-content: center;
  padding: 7vw 0 11vw 0;
  .head {
    width: 70%;
    margin: auto;
    left: 0;
    right: 0;
    top: -9vw;
  }
  .inner-content {
    width: 98%;
    margin: 0 auto;
    padding: 7vw 0;
    margin-bottom: 2vw;
    .table {
      width: 90%;
      overflow: hidden;
      font-size: 2.7vw;
      font-weight: bold;
      color: white;
      margin-bottom: 2vw;
      .heading {
        width: 85%;
        background-color: #35093cc2;
        border-radius: 9vw;
        height: 10vw;
        margin-bottom: 2vw !important;
        margin: 0 auto;
        color: white;
        font-size: 4vw;
        border: 1px solid gold;
      }
      .table-data {
        height: 85vw;
        padding: 0 2vw;
        gap: 1vw;
        overflow-x: hidden;
      }
      .table-data-max {
        height: 85vw;
        overflow-y: scroll;
        padding: 0 2vw;
        gap: 1vw;
        overflow-x: hidden;
      }
      .table-data-max::-webkit-scrollbar {
        background-image: url(./assets/popups/Scroll-strip.png);
        background-size: 100% 100%;
        width: 1vw;
      }
      .table-data-max::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 10px;
      }
      .table-data-max::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: url(./assets/popups/Scroll-btn.png);
        background-size: 100% 100%;
        width: 5vw;
        height: 5vw;
      }
      .rews {
        .rew-img {
          width: 12vw;
          height: 12vw;
          background-image: url(./assets/Reawrds-base.png);
          background-size: 100% 100%;
          border-radius: 1vw;
          img {
            width: 8vw;
          }
        }
        .desc {
          font-size: 2vw;
          font-weight: bold;
        }
      }
    }
  }

  .modal-close {
    width: 15vw;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: -15vw;
    img {
      width: 10vw;
    }
  }
  .see-btn {
    background-color: #2e0738;
    width: 20vw;
    height: 4vw;
    margin: auto;
    padding: 2vw;
    margin-top: 5vw;
    border: 1.5px solid #e1a72e;
    border-radius: 5vw;
    button {
      width: 100%;
      color: white;
      margin: 0 auto;
      height: 100%;
    }
  }
}
.event-gifts {
  width: 90%;
  height: 30vw;
  margin: auto;
  gap: 8vw;
  .heading-text {
    width: 40vw;
    top: 0vw;
  }
  .gift-details {
    .gift-img {
      width: 20vw;
      height: 20vw;
      background-size: 100% 100%;
      margin: auto;
      img {
        &:first-child {
          width: 13vw;
          z-index: 1;
        }
        &:last-child {
          width: 25vw;
          margin-top: -4vw;
        }
      }
    }
  }
  .details {
    width: 15vw;
    background-size: 100% 100%;
    font-size: 2vw;
    line-height: 2.5vw;
  }
}
.btn-up {
  width: 14vw;
  position: fixed;
  bottom: 5vw;
  right: 4vw;
  cursor: pointer;
  z-index: 3;
}
.leaderboard-slider {
  width: 35vw;
  height: 21vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .left-arrow {
    width: 3vw;
  }
  .right-arrow {
    width: 3vw;
  }
  .rew-section {
    width: 28vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-item {
    background-image: url(./assets/Reawrds-base.png);
    background-size: 100% 100%;
    width: 11vw;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 8vw;
    }
    .desc {
      font-size: 1.5vw;
    }
  }
  .history-slider-item {
    width: 17vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img-with-bg {
      width: 12vw;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 9vw;
      }
    }
    span {
      width: 90%;
      height: 20%;
      font-size: 1.7vw;
      text-align: center;
    }
  }
}
#extraContent {
  height: 0vw;
  width: 0vw;
  position: absolute;
  z-index: -99;
  background: url("./assets/dart_wheel/100-beans.gif"), url("./assets/dart_wheel/1000-beans.gif"), url("./assets/dart_wheel/150-beans.gif"),
    url("./assets/dart_wheel/200-beans.gif"), url("./assets/dart_wheel/300-beans.gif"), url("./assets/dart_wheel/forever.gif"),
    url("./assets/dart_wheel/phantom.gif"), url("./assets/dart_wheel/svip.gif"), url("./assets/dart_wheel/thunder.gif"),
    url("./assets/dart_wheel/victory-slide.gif"), url("./assets/dart_wheel/vip.gif"), url("./assets/dart_wheel/50-beans.gif");
  visibility: hidden;
  top: 0px;
}
.footer {
  width: 100%;
  height: 15vw;
  img {
    width: 50%;
  }
}
.subTabs {
  width: 100%;
  height: 15vw;
  button {
    width: 40%;
    height: 14vw;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.2s ease;
    }
  }
}
